body{
    margin: 0;
    padding: 0;
    background-color: #232323;
}

h1{ 
    color: beige;
    text-align: center;
    margin:  0;
    /* padding: 0; */
    background: steelblue;
    text-transform: uppercase;
    line-height: 1.1; 
    padding: 1rem 0;
}
#displayColor{
    font-size: 200%;
}
a{
    color: beige;
    font-size: 32px;
}

.squares{
    width: 30%;
    background: blue;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 1.4rem;
}

.container{
    max-width: 600px;
    margin: 0 auto;
}

#messageDisplay{
    color:  black;
    text-align: center;
}
#mode{
    margin: 0;
    padding: 0;
    text-align: center;
    height: 1.8rem;
    background-color: beige;
}
#messageDisplay{
    display: inline-block;
    width: 16%;
}
.selected{
    background-color: steelblue;
    color: white;
}

button{
    border:  none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-size: inherit;
    font-weight: 700;
    letter-spacing: 1px;
    color: steelblue;
    transition: all 0.4s;
}

button:hover{
    color: white;
    background: steelblue;
}